@model DeleteConfirmationViewModel

@{
    object item;
    string itemName = "";
    string itemDescription = "";
    string returnAction = "";

    if (Model.Customer != null)
    {
        item = Model.Customer;
        returnAction = "Customers";
        itemName = "Customer";
        // itemDescription = Model.Customer.CustomerName; --> Don't need this
    }
    else if (Model.Order != null)
    {
        item = Model.Order;
        returnAction = "Orders";
        itemName = "Order";
        // itemDescription = Model.Order.OrderDescription; --> Don't need this
    }
    else if (Model.Product != null)
    {
        item = Model.Product;
        returnAction = "Products";
        itemName = "Product";
        // itemDescription = Model.Product.ProductName;  --> Don't need this
    }
    else
    {
        item = null;
    }
}

<h1>Are you sure you want to delete this @itemName?</h1>

<div class="text center">
    <button asp-controller="Admin" asp-action="Delete" asp-route-item="@item" formmethod="post" style="padding: 10px;">Yes</button>
    <button asp-controller="Admin" asp-action="@returnAction" formmethod="get" style="padding: 10px;">No</button>
</div>
