@{
    Layout = "_Layout"; // Specify your shared layout page
}

<div class="admin-home-container">
    <h1 class="text-center">ADMIN HOME</h1>

    <div class="admin-home-actions">
        <!-- Action buttons or links -->
        <button asp-controller="Admin" asp-action="Products">Products</button>
        <br />
        <button asp-controller="Admin" asp-action="Customers">Users</button>
        <br />
        <button asp-controller="Admin" asp-action="Orders">Orders</button>
        <br />
        <button asp-controller="Customer" asp-action="CustomerInfo">Manage my Account</button>
        <br />
    </div>
</div>