@{
    Layout = "_Layout"; // Specify your shared layout page
}

<div class="admin-home-container">
    <h1 class="text-center">ADMIN HOME</h1>

    <div class="admin-home-actions">
        <!-- Action buttons or links -->
        <a asp-controller="Admin" asp-action="Products" class="btn btn-primary btn-block">PRODUCTS</a>
        <a asp-controller="Admin" asp-action="Customers" class="btn btn-warning btn-block">USERS</a>
        <a asp-controller="Admin" asp-action="Orders" class="btn btn-success btn-block">ORDERS</a>
        <a asp-controller="Customer" asp-action="CustomerInfo" class="btn btn-info btn-block">MANAGE MY ACCOUNT</a>
    </div>
</div>