@{
    Layout = "_Layout"; // Specify your shared layout page
}

<div class="admin-home-container">
    <h1 class="text-center">ADMIN HOME</h1>

    <div class="admin-home-actions">
        <!-- Action as or links -->
        <a asp-controller="Admin" asp-action="Products" class="btn btn-primary">Products</a>
        <br />
        <a asp-controller="Admin" asp-action="Customers" class="btn btn-primary">Users</a>
        <br />
        <a asp-controller="Admin" asp-action="Orders" class="btn btn-primary">Orders</a>
        <br />
        <a asp-controller="Customer" asp-action="CustomerInfo" class="btn btn-primary">Manage my Account</a>
        <br />
    </div>
</div>