/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #e0f3ff, #ffffff); /* Light blue gradient background */
    margin: 0; /* Remove default body margin */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-color: #EDD146; /* Yellow header */
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDD146; /* Yellow background for navbar */
    padding: 10px 0;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333; /* Dark text */
    margin-left: 20px; /* Add margin to navbar brand */
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin-right: 20px; /* Add margin to navbar nav */
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: #333333; /* Dark text */
    transition: color 0.3s ease;
}

    .nav-link:hover {
        color: #000000; /* Black text on hover */
    }

/* Yellow Header Stripe */
.header-stripe {
    background-color: #EDD146; /* Yellow header stripe */
    height: 3px; /* Shortened stripe height */
}

/* Button Styles */
.button {
    background-color: #EDD146;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .button:hover {
        background-color: #f4dc7a; /* Lighter shade of yellow on hover */
    }

/* Content Styles */
.content {
    padding: 20px;
}

/* Footer Styles */
footer {
    background-color: white; /* White footer */
    color: #333333; /* Dark text */
    text-align: center;
    padding: 20px 0;
}
