@{
    ViewData["Title"] = "Home Page";
}
<style>
.background-div-1 {
    background-image: url("img\\LightBlueLegos.png"); /* Adjust the path to your image */
    background-size: cover; /* This will make sure the image covers the entire div */
    background-position: left center; /* This will left-center the image */
    width: 100%; /* Adjust width as needed */
    height: 1000px; /* Adjust height as needed */
    /* Other styles for the div */
    color: black; /* Example text color */
    text-align: center; /* Example text alignment */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Vertically center children */
    align-items: center; /* Horizontally center children */
}
</style>

<div class="background-div-1">
    <div class="light-blue-box">
        <h4 class="display-6" style="font-weight: 900;"> Endless Worlds to Explore</h4><br />
        <h1 class="display-3" style="font-weight: 900;">Find Your Set Now</h1><br />
    <button class="shop-button">Shop Legos</button>
    </div>
</div>
<div class="text-center">
    <br /><br /><br />
    <h4 class="display-6" style="font-weight:bolder;">Recommended For You</h4>
    <br />
    <br />
    <br />
    <br />
    <h4><i>Space for pipeline recommendations</i></h4>
    <br />
    <br />
    <br />
    <br />
    <!-- <button class="shop-button">View All</button> -->
    <br />
    <br />
</div>

<div class="text-center">
    <br /><br /><button class="shop-button" style="padding:20px; font-size: 20px"><b>Shop Featured Sets Now!</b></button>
    <br /><br /><br /><br />
    <h4 class="display-6" style="font-weight:bolder;">What Others Are Buying</h4>
    <br />
    <br />
    <br />
    <br />
    <h4><i>Space for pipeline recommendations</i></h4>
    <br />
    <br />
    <br />
    <br />
    <button class="shop-button">View All</button>
    <br />
    <br />
</div>