
<div class="container live-chat-container">
    <div class="live-chat-content">
        <h1 class="welcome-text">Welcome to Live Chat</h1>
        <div class="row p-1">
            <div class="col-12">
                <input type="text" class="input-field" id="userInput" placeholder="User" />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-12">
                <input type="text" class="input-field" id="messageInput" placeholder="Message" />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-12 text-center">
                <input type="button" class="send-button" id="sendButton" value="Send Message" />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-12">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>