@page
@model ExternalLoginModel
<div class="centered-container">
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>
<hr />

<p id="external-login-description" class="text-info">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Please enter the remaining information and click the Register button to finish
    logging in.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Please enter your email."/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="given-name" aria-required="true" placeholder="First Name" />
                <label asp-for="Input.FirstName">First Name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="family-name" aria-required="true" placeholder="Last Name" />
                <label asp-for="Input.LastName">Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.BirthDate" class="form-control" autocomplete="bday" aria-required="true" placeholder="Birth Date" />
                <label asp-for="Input.BirthDate">Birth Date</label>
                <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Gender" class="form-control" autocomplete="sex" aria-required="true" placeholder="Gender" />
                <label asp-for="Input.Gender">Gender</label>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.AddressLine1" class="form-control" autocomplete="address-line-1" aria-required="true" placeholder="Address Line 1" />
                <label asp-for="Input.AddressLine1">Address Line 1</label>
                <span asp-validation-for="Input.AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.AddressLine2" class="form-control" autocomplete="address-line-2" aria-required="true" placeholder="Address Line 2" />
                <label asp-for="Input.AddressLine2">Address Line 2</label>
                <span asp-validation-for="Input.AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.City" class="form-control" autocomplete="city-name" aria-required="true" placeholder="City" />
                <label asp-for="Input.City">City</label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.State" class="form-control" autocomplete="state" aria-required="true" placeholder="State" />
                <label asp-for="Input.State">State</label>
                <span asp-validation-for="Input.State" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Code" class="form-control" autocomplete="postal-code" aria-required="true" placeholder="Postal/ZIP Code" />
                <label asp-for="Input.Code">Postal/ZIP Code</label>
                <span asp-validation-for="Input.Code" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Country" class="form-control" autocomplete="country-name" aria-required="true" placeholder="Country" />
                <label asp-for="Input.Country">Country</label>
                <span asp-validation-for="Input.Country" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</div>