@model Order

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Enter Shipping Address</h3>
            <h3>Enter Billing Address</h3>
        </div>
        <div class="col-md-4">
            <h3>Full Name</h3>
            <h3>Card Information</h3>
        </div>
        <div class="col-md-4">
            <h3>Order Summary</h3>
        </div>
    </div>
</div>