@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <!-- First Column -->
        <div class="col-md-6 text-center" style="padding-top: 8%;">
            <!-- Content for the first column goes here -->
            <!-- This image is just a placeholder for the model image -->
            <img width="80%" src="~/img/lego bg 2 home.png" />
        </div>
        <!-- Second Column -->
        <div class="col-md-6" style="padding-top: 8%;">
            <!-- Content for the second column goes here -->
            <h2>Title of the Lego Set</h2>
            <p>This is the content for the right column.</p>
        </div>
    </div>
</div>